language: ruby
rvm:
  - 2.5.8
  - 2.6.6
  - 2.7.1
before_install:
  - gem update --system
  - gem install bundler -v '2.1.4'
cache:
  bundler: true
install:
  - bundle install
script:
  - bundle exec rake test
